* {
    margin: 0;
    padding: 0;

}

#navbar {
    /* background-color: aquamarine; */
    display: flex;
    justify-content: left;
    margin-top: -28px;
    font-size: 16px;
    margin-left: 42px;

}

img.git {
    background-color: #fafcfa;
    width: 2rem;
    height: 2rem;
    margin-left: -18px;
    margin-top: -24px;
    /* margin: 2px; */

}

.navbar>a {
    text-decoration: none;
    margin-right: 30px;
    color: aliceblue;
    /* top: 0; */
    font-family: sans-serif;

}


#wholebody {
    background-color: black;
    border: 12px solid black;
    margin: 0px;
    padding: 2em;
    top: 0;
    /* background-color: aquamarine; */

}



p {
    color: aliceblue;
}

h1 {
    color: aliceblue;
    font-family: sans-serif;
    font-size: 84px;
    margin-left: 4em;
    margin-top: 2em;
    /* background-image: url("Git.jpg");
    /* background-repeat: no-repeat; */
}


.Para {
    margin-left: 21rem;
    font-family: sans-serif;
    font-size: 26px;
    color: rgb(148, 153, 156);
    /* margin-top: 1rem; */
}

.verticalline {
    color: rgb(248, 248, 253);
    background-image: linear-gradient(to bottom right, #3d373f, #660eca);
    width: 3px;
    height: 68em;
    border: 1px solid rgb(14, 9, 9);
    margin-left: 17em;
    margin-top: -112px;
}


.wrapper {
    display: flex;
    margin-top: -54rem;

}

.Email>form {
    margin-left: 21em;
    color: aliceblue;
    display: flex;
    background-color: aliceblue;
    height: 3em;


}


.Signup {
    display: flex;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    margin-top: 16em;
    background-color: rgb(82, 37, 206);
    padding: 4px;
    margin: 0px;
    height: 2.5em;
    width: 12em;
    align-items: center;
    justify-content: center;


}

.Signup>a {
    text-decoration: none;
    color: rgb(246, 249, 252);
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;


}


.trial {
    border: 1px solid rgb(119, 9, 209);
    color: aliceblue;
    font-size: 20px;
    font-family: sans-serif;
    display: flex;
    border-radius: 4px;
    margin-left: 2em;
    margin-top: 0rem;
    height: 2em;
    width: 14em;
    padding: 2px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: #fbf8fd;
}


img.first {
    width: 650px;
    height: 750px;
    margin-top: -16px;

}


div.image {
    display: flex;
    /* background-color: aliceblue; */
    justify-content: right;
    /* flex-direction:column; */
    margin-top: -30rem;
    top: 0;
}

div.p {
    color: rgb(148, 153, 156);
    font-size: 20px;
    margin-left: 21rem;
    font-family: sans-serif;
    margin-top: -6rem;
}

div.Logos {
    display: flex;
    justify-content: left;
    margin: 16px 0px;
    /* width: 32px; */
    height: 32px;
    margin-left: 21rem;
    margin-top: 3rem;

}

img.logo {
    /* margin-left: 4em; */
    width: 8rem;
    height: 3rem;

}

img.KPMG {
    margin-left: 6em;
    width: 6rem;
    height: 3rem;
}


img.Mercedez {
    margin-left: 6em;
    width: 6rem;
    height: 3rem;
}



img.SAP {
    margin-left: 6em;
    width: 6rem;
    height: 3rem;
}


div.imagecircle {
    display: flex;
    justify-content: right;
    /* background-color: #fafcfa; */

}

img.Circle {
    margin-top: 8rem;
    width: 1000px;
    height: 800px;
    margin-top: 0rem;


}


h2 {
    color: aliceblue;
    margin-left: 21rem;
    margin-top: 10rem;
    font-family: sans-serif;
    font-weight: lighter;
}

h3 {
    color: #4af058;
    margin-left: 21rem;
    margin-top: 2rem;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 48px;
    /* display: inline; */
}


h4 {
    color: #fafcfa;
    margin-left: 21rem;
    margin-top: 0rem;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 54px;

}



.gitnumber >img {
    /* background-color: white; */
    height: 40rem;
    margin-left: 14rem;
    margin-top: -24rem;

}
