* {
    margin: 0;
    padding: 0;

}

#navbar {
    /* background-color: aquamarine; */
    display: flex;
    justify-content: left;
    margin-top: -16px;
    font-size: 16px;
    margin-left: 24px ;

}


.navbar>a {
    text-decoration: none;
    margin-right: 24px;
    color: aliceblue;
    top: 0;
    font-family: sans-serif;
}

#wholebody {
    background-color: black;
    border: 12px solid black;
    margin: 2px;
    padding: 2em;

}

p {
    color: aliceblue;
}

h1 {
    color: aliceblue;
    font-size: 84px;
    margin-left: 5em;
    margin-top: 2em;
    /* display: inline; */


}

.verticalline {
    color: rgb(248, 248, 253);
    background-image: linear-gradient(to bottom right, #3d373f, #660eca);
    width: 3px;
    height: 30em;
    border: 1px solid rgb(14, 9, 9);
    margin-left: 18em;
    margin-top: -48px;



}
