* {
    margin: 0;
    padding: 0;

}

#navbar {
    /* background-color: aquamarine; */
    display: flex;
    justify-content: left;
    margin-top: -28px;
    font-size: 16px;
    margin-left: 42px;

}

img.git {
    background-color: #fafcfa;
    width: 2rem;
    height: 2rem;
    margin-left: -18px;
    margin-top: -24px;
    /* margin: 2px; */

}

.navbar>a {
    text-decoration: none;
    margin-right: 30px;
    color: aliceblue;
    /* top: 0; */
    font-family: sans-serif;

}


#wholebody {
    background-color: black;
    border: 12px solid black;
    margin: 0px;
    padding: 2em;
    top: 0;
    /* background-color: aquamarine; */

}



p {
    color: aliceblue;
}

h1 {
    color: aliceblue;
    font-family: sans-serif;
    font-size: 84px;
    margin-left: 4em;
    margin-top: 2em;
    /* background-image: url("Git.jpg");
    /* background-repeat: no-repeat; */
}


.Para {
    margin-left: 21rem;
    font-family: sans-serif;
    font-size: 26px;
    color: rgb(148, 153, 156);
    /* margin-top: 1rem; */
}

.verticalline {
    color: rgb(248, 248, 253);
    background-image: linear-gradient(to bottom right, #3d373f, #660eca);
    width: 3px;
    height: 68em;
    border: 1px solid rgb(14, 9, 9);
    margin-left: 17em;
    margin-top: -112px;
}


.wrapper {
    display: flex;
    margin-top: -54rem;

}

.Email>form {
    margin-left: 21em;
    color: aliceblue;
    display: flex;
    background-color: aliceblue;
    height: 3em;


}


/* div.Signup :hover{
    box-shadow: inset 0 0 10px #777777;
} */



.Signup {
    display: flex;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    margin-top: 16em;
    background-color: rgb(82, 37, 206);
    padding: 4px;
    margin: 0px;
    height: 2.5em;
    width: 12em;
    align-items: center;
    justify-content: center;
    /* box-shadow: 5px 5px 5px 5px #b8039f;  */


}

.Signup>a {
    text-decoration: none;
    color: rgb(246, 249, 252);
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    transform: scale(1px);



}

.trial:hover {
    cursor: pointer;
    box-shadow: white 0 0 0 2px inset;
    /* border: 1px solid rgb(254, 253, 255); */
    /* transition:0.5s ease-in-out; */
}



.trial {
    border: 1px solid rgb(119, 9, 209);
    color: aliceblue;
    font-size: 20px;
    font-family: sans-serif;
    display: flex;
    border-radius: 4px;
    margin-left: 2em;
    margin-top: 0rem;
    height: 2em;
    width: 14em;
    padding: 2px;
    justify-content: center;
    align-items: center;
}


img.first {
    width: 650px;
    height: 750px;
    margin-top: -16px;

}


div.image {
    display: flex;
    /* background-color: aliceblue; */
    justify-content: right;
    /* flex-direction:column; */
    margin-top: -30rem;
    top: 0;
}

div.p {
    color: rgb(148, 153, 156);
    font-size: 20px;
    margin-left: 21rem;
    font-family: sans-serif;
    margin-top: -6rem;
}

div.Logos {
    display: flex;
    justify-content: left;
    margin: 16px 0px;
    /* width: 32px; */
    height: 32px;
    margin-left: 21rem;
    margin-top: 3rem;

}

img.logo {
    /* margin-left: 4em; */
    width: 8rem;
    height: 3rem;

}

img.KPMG {
    margin-left: 6em;
    width: 6rem;
    height: 3rem;
}


img.Mercedez {
    margin-left: 6em;
    width: 6rem;
    height: 3rem;
}



img.SAP {
    margin-left: 6em;
    width: 6rem;
    height: 3rem;
}


div.imagecircle {
    display: flex;
    justify-content: right;
    /* background-color: #fafcfa; */

}

img.Circle {
    margin-top: 8rem;
    width: 1000px;
    height: 800px;
    margin-top: 0rem;


}


h2 {
    color: aliceblue;
    margin-left: 21rem;
    margin-top: 10rem;
    font-family: sans-serif;
    font-weight: lighter;
}

h3 {
    color: #4af058;
    margin-left: 21rem;
    margin-top: 2rem;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 48px;
    /* display: inline; */
}


h4 {
    color: #fafcfa;
    margin-left: 21rem;
    margin-top: 0rem;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 54px;

}



.gitnumber>img {
    /* background-color: white; */
    height: 42rem;
    margin-left: 18rem;
    margin-top: -26rem;

}



div.copilot {
    /* background-color: #970950; */
    width: 42rem;
    font-family: sans-serif;
    font-weight: lighter;
    margin-left: 26rem;
    margin-top: 8rem;
    font-size: 32px;


}

div.copilot>p {
    color: rgb(179, 182, 184);


}



div.copilotlink {
    margin-top: 4rem;

}



.copilotlink>a {
    /* background-color: #4af058; */
    text-decoration: none;
    color: aliceblue;
    margin-left: 26rem;
    font-size: 22px;
    font-family: sans-serif;
    font-weight: bold;

}

.copilotlink :hover {
    text-decoration: underline;
    /* transition: 1s ease-out; */
}


div.sidebarimg>img {
    height: 32rem;
    border-radius: 16px;
    margin-left: 70rem;
    margin-top: -64rem;
}

div.did {
    /* background-color: #4af058; */
    border: 2px solid green;
    width: 8rem;
    height: 1.5rem;
    border-radius: 16px;
    margin-left: 26rem;
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;

}


div.did>p {
    color: #15b323;
    font-weight: lighter;
    font-size: 14px;
    font-family: sans-serif;

}

div.increase {
    font-size: 64px;
    font-family: sans-serif;
    margin-left: 26rem;
    margin-top: 1rem;

}

div.increase>p {
    color: #15b323;
    /* font-weight: bold; */
}

div.developerproductivity {
    font-family: sans-serif;
    margin-left: 26rem;
    font-size: 26px;

}



div.Readreport {
    margin-top: 2rem;

}

.Readreport>a {
    /* background-color: #4af058; */
    text-decoration: none;
    color: aliceblue;
    margin-left: 26rem;
    font-size: 22px;
    font-family: sans-serif;
    font-weight: bold;

}

.Readreport :hover {
    text-decoration: underline;
    /* transition: 1s ease-out; */
}

/* div.conatiner{
    border: 2px solid white;
} */

.containergithubaction{
    border: 0.5px solid rgb(80, 78, 78);
    background-color: rgba(48, 48, 48, 0.247);
    height: 28rem;
    width: 75%;
    margin-left: 14rem;
    margin-top: 6rem;
    border-radius: 12px;
    display: flex;
    
}

.containergithubaction >p{
    margin-top: 4rem;
    margin-left: 4rem;
    font-family: sans-serif;
    font-size: 24px;
}

.containergithubaction >img{
    margin-left: 20rem;
}

.githubactions{
    /* width: 64px; */
    /* height: 10px; */
    /* border: 1px solid wheat; */
    /* margin-right: 5rem; */
    position: absolute;
    margin-top: 20rem;
    margin-left: 4rem;
    font-family: sans-serif;
    font-size: 20px;
}



.githubactions > a{
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-family: sans-serif;
    font-weight: bold;
}

.githubactions :hover {
    text-decoration: underline;
    /* transition: 1s ease-out; */
}


.containergithubcodespaces{
    border: 1px solid rgb(252, 250, 248);
    height: 54rem;
    width: 55%;
    margin-top: 2rem;
    border-radius: 12px;
    margin-left: 14rem;
    border: 0.5px solid rgb(80, 78, 78);
    display: flex;


}

div.containergithubcodespaces > p{
    margin-top: 4rem;
    margin-left: 4rem;
    font-family: sans-serif;
    font-size: 24px;


}


div.containergithubcodespaces >a{
    text-decoration: none;
    color: white;
    margin-left: 4rem;
    margin-top: 16rem;
    /* border: 1px solid white; */
    position: absolute;
    font-size: 22px;
    font-family: sans-serif;
    font-weight: bold;
}

.containergithubcodespaces >img{
    width: 40rem;
    margin-top: 24.5rem;
    margin-left: -3.5rem;
    position: absolute;
    justify-content: right;
}



.containerGitHubMobile{
    border: 1px solid rgb(252, 250, 248);
    height: 54rem;
    width: 55%;
    margin-top: 2rem;
    border-radius: 12px;
    margin-left: 14rem;
    border: 0.5px solid rgb(80, 78, 78);
    display: flex;


}

div.containerGitHubMobile > p{
    margin-top: 4rem;
    margin-left: 4rem;
    font-family: sans-serif;
    font-size: 24px;


}


div.containerGitHubMobile >a{
    text-decoration: none;
    color: white;
    margin-left: 4rem;
    margin-top: 16rem;
    /* border: 1px solid white; */
    position: absolute;
    font-size: 22px;
    font-family: sans-serif;
    font-weight: bold;
}

.containerGitHubMobile >img{
    width: 40rem;
    margin-top: 28.5rem;
    margin-left: -1rem;
    position: absolute;
    justify-content: right;
}


div.parent{
    /* border: 1px solid white; */
    margin-top: 2rem;
    display: flex;
    
}

div.containerGitHubMobile{
    margin-right: 12rem;
}
